html {
	background: #DDD;
	font-family: Times New Roman;
}

body {
	background: #FFF;
	width: 700px;
	height: 900px;
	margin: 0 auto 0 auto;
	padding: 10px;
}
.logo {
	float:left;
	height:0;
	padding: 5px;
}
h1{
	text-align: center;
}
h2{
	color: #008B8B;
}
.header{
	
	color:#008B8B;
}
.formation{
	float: left;
	padding-top:30px;	
}
input {
    margin: .4rem;
}
.rFormation{
	float: none;
	padding-top: 100px;
	
}
.nom{
	padding-left: 54px;
}
.prenom{
	padding-left: 35px;
}
.envoyer {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #008B8B;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                margin-left: 18%;
}

.envoyer:hover {
    background-color: rgba(255, 0, 0, 1);
}

.envoyer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
